.drawer__wrapper {
    position: fixed;
    left: 0;
    right: 0; 
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
}

.drawer__shadow {
    position: absolute;
    left: 0; 
    width: 70%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
}

.drawer {
    position: absolute;
    width: 30%;
    height: 100%;
    right: 0;

    display: flex;
    flex-direction:column;
    align-items: center;

    color: black;
    background: #ffffff;
    box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.2);

    z-index: 9;
}

.drawer__content__container>h2 {
    cursor: default;    
}

.drawer__close {
    cursor: pointer;
    user-select: none;
}

.drawer__close__img {
    transition: all 0.23s;
}

.drawer__close__img:hover {
    padding-top: 4px;
    padding-right: 2px;
    width: 18px;
    opacity: 0.5;
}

.drawer__flex {
    width: 100%;
    height: 100%; 

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.drawer__header {
    max-width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 25px 1px rgba(0, 0, 0, 0.2);
}

.drawer__button__buy {
    height: 44px;
    width: 100%;
  
    color: #ffffff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  
    background-color: #000000;
    transition: all 0.5s;

    user-select: none;
}

.drawer__content {
    padding: 2% 0 2% 3.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10%;
    width: 100%;
    height: 75%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.content__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5%;
    height: 100%;
    width: 100%;
}

.content__wrapper:last-child {
    padding-bottom: 100px;
}

.drawer__container__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 -2px 25px 1px rgba(0, 0, 0, 0.2);
    height: 15%;
}

.drawer__footer {
    height: 15%;
    width: 80%;
    
    padding-bottom: 8%;
}

.drawer__priceCount {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.drawer__priceCount > p {
    font-size: 1.2em;
}

  
.drawer__button__buy:hover {
    background-color: white;
    color: black;
    border: 3px solid black;
}

.drawer__close, .drawer__h2, .drawer__button__buy {
    animation-name: drawerItems;
    animation-iteration-count: 1;
    animation-duration: 2s;
}

.show {
    animation-name: drawerShow;
    animation-iteration-count: 1;
    animation-duration: 0.5s;
}

.hide {
    animation-name: drawerHide;
    animation-iteration-count: 1;
    animation-duration: 0.5s;
}

@keyframes drawerShow {
    0% {
        transform: translateX(500px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes drawerHide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(500px);
    }
}

@keyframes drawerItems {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}
