* {
    padding: 0;
    margin: 0;
    border: 0;
}
  
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
  
nav,
footer,
header,
aside {
    display: block;
  
    z-index: 1;
}
  
html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}   

body {

    font-family: "PT Sans Narrow", Arial, sans-serif;

    font-size: 14px;
    line-height: 24px;
    font-weight: 700px;
    color: #ffffff;
    text-transform: uppercase;

    background-color: #ffffff;
}

main {
    color: black;

    background-color: #fff;
}

p, li {
    font-weight: bold;
    font-size: 14px;
}

.modal__hide {
    display: none;
}

a {
    text-decoration: none;
}

.button {
    cursor: pointer;

    font: inherit;
    
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: #000000;
    border: none;
}

.button :hover,
.button :focus,
.button :active {
    background-color: #663d15;
}

nav {
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
}


.header__list a :hover,
.header__list a :focus,
.header__enter a :hover,
.header__enter a :focus {
    background-color: #242424;
}

.feature__list {
    list-style: none;
}

.features__list-item{
    text-align: center;
}

.features__lidt-item h3 {
    font-size: 30px;
    line-height: 42px;
}

.index_colums {
    color: #000000;

}

.index_colums h2 {
    font-size: 30px;
    line-height: 42px;
}

.news_list {
    list-style: none;
}

.news_item time {
    text-transform: none;
}

.gallery_content {
    background-color: #cccccc;
    border: 7px solid #ffffff;
}

.appointment__item input {
    font: inherit;

    background-color: transparent;
    border: 2px solid #000000;
}

.appointment__item input :focus {
    border-color: #663d15;
}

.main_footer {
    color: #ffffff;
    background-color: #212121;
    background-image: url(//////);
    background-position: 0 0;
    background-repeat: repeat;
}

.footer_contacts a {
    color: #ffffff;
}

.footer_contacts a :hover,
.footer_contacts a :focus {
    text-decoration: none;
}

.footer_social {
    text-align: center;
}

.footer_social ul {
    list-style: none;
}


.social_button {
    color:  #ffffff;
}

.footer_copyright {
    text-align: center;
}

.footer_copyright .button :hover,
.footer_copyright .button :focus {
    color: #000000;
    
    background-color: #ffffff;
}

.modal {
    color: #000000;

    background-color: #f8f3f0;
    background-image: url();
    background-position: 0 0;
    background-repeat: repeat;
}

.modal h2 {
    font-size: 30px;
    line-height: 42px;
}

.login_form input [type="text"],
.login_form input [type="password]"] {
    font: inherit;
    color: #000000;
    text-transform: uppercase;

    background-color: #f9f6f3;
    border: 2px solid #000000;
}

.login_form input :focus {
    border-color: #663d15;
}

.login_checkbox :hover,
.login_checkbox :focus {
    color: #663d15;
}

.restore {
    color: inherit;
    text-decoration: underline;
}

.restore :hover,
.restore :focus {
    text-decoration: none;
}

.container {
    max-width: 940px;
  
    margin: 0 auto;
    padding: 0 auto;
  
    z-index: 1;
}

.header {
    background-color: #000000;
    height: 72px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    display: flex;
    justify-content: space-around;

    list-style: none;

    padding-top: 25px;
}

.nav__list a {
    color: #ffffff;
}

.nav__enter {
    padding-top: 25px;
}

.nav__enter li {
    list-style: none;
}

.nav__enter a {
    position: relative;

    color: #ffffff;
}

/* .nav__enter a::after {
    content: '';

    position: absolute;
    top: -13%;
    left: 0;

    transform: translate(-160%, 25%);

    display: block;

    background-image: url(imgs/Shape.svg);
    background-size: cover;
    background-repeat: no-repeat;

    width: 15px;
    height: 13px;
} */

.nav__list-item {
    margin-right: 30px;
  
    position: relative;
  
    cursor: pointer;
}
  
.nav__list-item>a {
    color: #ffffff;
}
  
.nav__list-item::after {
    content: '';
  
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
  
    position: absolute;
    top: 100%;
    left: 0px;
  
    transition: 0.2s linear;
}

.nav__list-item:hover.nav__list-item::after {
    background-color: rgba(255, 255, 255, 1);
}










/* ////////////////////////// */











.nav__list-svg {
    padding-left: 20px;
    padding-right: 25px;
}

.mini-logo path {
    animation-name: nav__logo;
    animation-duration:  1.5s;
    animation-iteration-count: 1;
}

@keyframes nav__logo {
    0% {
        transform: translateX(-1000px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
    
}

.logo__wrapper {
    position: absolute;

    width: 371px;
    height: 153px;

    top: 25%;
    left: 36.5%;
}

.logo__svg path{
    animation-name: logo__svg-color;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    fill: black;
    animation-fill-mode: forwards;
}

@keyframes logo__svg-color {
    0% {
        fill: #ffffff;
        transform: translateX(0);
    }

    100% {
        fill: black;
        transform: translateX(-1000px);
        
    }
    
}

.animation__main {
    animation-name: animationMain;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes animationMain {
    0% {
        transform: translateY(600px);
    }

    100% {
        transform: translateY(0);
    }

}

h1 {
    color: black;
}

.inner__container {
    max-width: 1070px;
  
    margin: 50px auto;
    padding: 50px auto;
  
    z-index: 1;
}

.breadcrumbs>li {
    list-style: url(../барбершоп/imgs/shaaaaapppppeeeee.svg);
}

.breadcrumbs>li:first-child {
    list-style: none;
}

.breadcrumbs>li>a {
    color: black    ;
}

.breadcrumbs>li>span {
    padding-left: 7px;
}

.span__shop {
    opacity: 0.3;
}

.breadcrumbs {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;

    padding-top: 23px;
}

.breadcrumbs {
    animation-name: slide;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.shop__item {
    display: flex;
    justify-content: space-between;
}

.item__gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 600px;
}

.item__img:nth-child(2),
.item__img:nth-child(3),
.item__img:last-child {
    grid-column: span 1;
    grid-row: span 1;
}

.item__img:first-child {
    grid-column: span 3;
    grid-row: span 3;
}

.item__info {
    max-width: 410px;
    max-height: 600px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.info__list {
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.if__else {
    display: flex;
    justify-content: space-between;
}

.if__else>li {
    list-style: none;
}

.if__else-li {
    opacity: 0.5;
}

.item__set {
    padding-top: 45px;
}

.set__h3 {
    font-size: 24px;
    font-weight: bold;

    padding-bottom: 30px;
}

.set__list>li {
    list-style: url(../барбершоп/imgs/shaaaaapppppeeeee.svg);
}

.set__list>li:not(first-child) {
    padding-top: 10px;
}

.button__buy {
    padding: 10px 20px;
}

.price__wrapper {
    list-style: none;
}

.item__price {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 20px;
    margin-left: 10px;

    width: 200px;
    height: 40px;

    background-color: #afafaf;
}

.button__buy {
    padding: 12px;
}

.price__wrapper {
    padding-left: 30px;
}

.button__form:hover,.button__buy:hover,.button__item:hover {
    border: 3px solid black;
}

@keyframes slide {
    0% {
        transform: translateX(-600px);
        opacity: 0.1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
    
}

body, main {
    animation: colorAnimated;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

@keyframes colorAnimated {
    0% {
        background-color: #272726;
    }
    
    100% {
        background-color: #ffffff;
    }
}















/* ////////////////////////// */















.footer__wrapper {
    height: 150px;
    background-color: #212121;
}

.footer__wrapper li{
    list-style: none;
    text-decoration: none;
}

.footer {
    height: 150px;

    padding-top: 4%;


    display: flex;
    justify-content: space-between;
    align-items: baseline;

    line-height: 23px;
    font-style: normal;
    font-weight: bold; 
    font-size: 12px;
}

.footer__list { 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__list a {
    color: #ffffff;
}

.footer__list-item {
    position: relative;
  
    cursor: pointer;
}
  
.footer__list-item>a {
    color: #ffffff;
}
  
.footer__list-item::after {
    content: '';
  
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
  
    position: absolute;
    top: 100%;
    left: 0px;
  
    transition: 0.2s linear;
}

.footer__list-item:hover.footer__list-item::after {
    background-color: rgba(255, 255, 255, 1);
}

.footer__social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.footer__social-icons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.footer__social-icons a {
    height: 40px;
    width: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #000000;
}

/*///////////// Анимация /////////////*/

.nav__item-svg {
    vertical-align: middle;
    margin-right: 10px;
}

.nav__enter-item {
    display: flex;
    align-items: center;
    align-content: center;
    
    cursor: pointer;
}

.nav__enter-item:hover path {
    fill: white;
    opacity: 0.5;
}

.nav__item-svg path {
    transition: fill 0.4s;
}

.features__list {
    overflow: hidden;
}

.features__list-item {
    animation-name: featuresItems;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
}

@keyframes featuresItems {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.animate-features {
    overflow: hidden;
}

.features__list {
    animation-name: featuresList; 
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes featuresList {
    0% {
        transform: translateY(-400px);
    }

    100% {
        transform: translateY(0px);
    }
}

.header__logo {
    animation-name: logo; 
    animation-duration: 1.5s;
    animation-iteration-count: 1;
}

@keyframes logo {
    0% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}

.gallery__item-img {
    animation-name: img-slider; 
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes img-slider {
    0% {
        transform: translateX(600px);
    }

    100% {
        transform: translateX(0);
    }
}

.news__gallery-wrapper {
    overflow: hidden;
}

.news__item-h3,.news__item-li,.news__item-time1,.news__item-li,
.news__item-time2,.news__button,.gallery_button_back,.gallery__button-next,
.contacts__item-h3,.contacts__item-p,.contacts__item-time,.contacts__buttonS,.sign,.footer,
.nav,.service__h3,h1,.priceS__h2,.featureS__h3,.featureS__list,.service__list,.info__h3,.info__p {
    animation-name: contentItems; 
    animation-duration: 1.5s;
    animation-iteration-count: 1;
}

@keyframes contentItems {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.footer__social-vk a, .footer__social-fb a, .footer__social-insta a {
    transition: background-color 1s;
}

.footer__social-vk path, .footer__social-fb path, .footer__social-insta path {
    transition: fill 1s;
}


.footer__social-vk:hover a, .footer__social-fb:hover a, .footer__social-insta:hover a {
    background-color: white;
}

.footer__social-vk:hover path, .footer__social-fb:hover path, .footer__social-insta:hover path {
    fill: black;
}

.button, .news_button, .sign__button-item, .contacts__button  {
    transition: all 0.5s;
    cursor: pointer;
}

.button:hover, .news_button:hover, .sign__button-item:hover, .contacts__button:hover  {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    font-weight: bold;
}

.button:hover, .news_button:hover, .sign__button-item:hover{
    font-size: 18px;
}

.feature__img-wrapper img {
    animation-name: кручуВерчу; 
    animation-duration: 1s;
    animation-iteration-count: 5;
    animation-delay: 1.5s;
}

@keyframes кручуВерчу {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}






/* ////////////////////////// */




.modal {
    color: black;

    background-color: #f8f3f0;
    background-image: url();
    background-position: 0 0;
    background-repeat: no-repeat;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal__login {
    top: 128px;
    left: 50%;

    width: 475px;
    padding: 50px 80px;

    margin-left: -230px;

    display: none;
}

.modal {
    position: fixed;
}

.modal__close {
    position: absolute;
    top: 0;
    right: -34px;

    width: 22px;
    height: 22px;

    cursor: pointer;
    background-color: transparent;
}

.modal__close::before,
.modal__close::after {
    content: '';

    position: absolute;
    top: 10px;
    left: 2px;

    width: 19px;
    height: 3px;

    background-color: #d0d0d0;
}

.modal__close::before {
    transform: rotate(45deg);
}

.modal__close::after {
    transform: rotate(-45deg);
}

.modal__description {
    margin: 0;
    margin-bottom: 10px;
}

.modal__login h2 {
    margin: 0;
    margin-bottom: 20px;

    font-size: 30px;
    line-height: 42px;
}

.login__form p {
    margin: 0;
    margin-bottom: 10px;
}

.login__form input[type="text"],
.login__form input[type="password"] {
    box-sizing: border-box;
    width: 330px;
    padding: 10px 15px;
    padding-right: 40px;

    font: inherit;
    color: black;
    text-transform: uppercase;

    background-color: #f9f6f3;
    border: 2px solid black;
}

.login__form input:focus {
    border-color: #663d15;
}

.login__icon-user {
    background-image: url(../барбершоп/imgs/user.svg);
    background-position: 300px center;
    background-repeat: no-repeat;
}

.login__icon-password {
    background-image: url(../барбершоп/imgs/lock.svg);
    background-position: 300px center;
    background-repeat: no-repeat;
}

.login__form .login__help {
    display: flex;
    justify-content: space-between;
    width: 330px;
}

.login__button {
    width: 100px;
    height: 50px;
}

.login__button:hover {
    border: 2px solid rgba(0, 0, 0, 0.7);
}

.login__checkbox {
    cursor: pointer;
}

.restore {
    transition: all 0.5s;
    text-decoration: none;
    font-weight: bold;
}

.restore {
    position: relative;
    cursor: pointer;
}

.restore::after {
    content: '';

    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.2);

    position: absolute;
    top: 100%;
    left: 0px;

    transition: 0.2s linear;
}

.restore:hover {
    font-size: 15px;
}

.restore:hover.restore::after {
    background-color: rgba(255, 255, 255, 1);
}

.visually__hidden {
    overflow: hidden;
    display: none;
}

.login__checkbox {
    position: relative;

    padding-left: 25px;
}

.login__checkbox input[type="checkbox"] + .checkbox__indicator {
    position: absolute;
    top: 0;
    left: 0;

    width: 17px;
    height: 18px;

    border: 2px solid #000000
}

.login__checkbox input[type="checkbox"]:checked + .checkbox__indicator::before,
.login__checkbox input[type="checkbox"]:checked + .checkbox__indicator::after {
    content: '';

    position: absolute;
    top: 45%;
    left: -1px;

    width: 15px;
    height: 2px;

    background-color: #000000;
}

.login__checkbox input[type="checkbox"]:checked + .checkbox__indicator::before {
    transform: rotate(45deg);
}

.login__checkbox input[type="checkbox"]:checked + .checkbox__indicator::after {
    transform: rotate(-45deg);
}

.login__button {
    width: 330px;
}