.drawerCard {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5%;
}

.drawerCard__item {
    width: 180px;
    height: 165px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    background-color: #d3d3d3;
    border: 1px solid #d3d3d3;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.button__item {
    height: 40px;
    width: 40px;
}

.drawerCard__price__wrapper {
    list-style: none;
}

.drawerCard__item__price {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 177px;
    height: 37px;

    background-color: #afafaf;
}

.button__buy {
    padding: 12px;
}

.buttonInCart {
    padding: 8px;
    height: 37px;
}

.drawerCard__price__wrapper {
    padding-left: 30px;
}

.drawerCard__img {
    width: 170px;
    height: 100px;
}

.drawerCard__a {
    cursor: pointer;
}

.drawerCard__a>li>a {
    text-decoration: none;
    cursor: pointer;
    padding: 5px;
    color: black;
    transition: all 0.5s;
}

.drawerCard__a {
    padding-left: 16px;
}

.drawerCard__a>li>a:hover {
    color: rgba(83, 83, 83, 0.568);
}

.drawerCard__li {
    list-style: none;

    font-size: 16px;
    font-weight: bold;
    text-transform: initial;

    color: black;
}

.drawerCard__li>a>span {
    text-transform: uppercase;
}

.button__form:hover,.button__buy:hover,.button__item:hover {
    border: 3px solid black;
}