.drawerCard {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
}

.drawerCard__item {
    width: 250px;
    height: 300px;
    
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 7%;

    background-color: rgba(241, 241, 241, 0.86);
    border: 0px solid #9f9f9f;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.button__item {
    height: 40px;
    width: 40px;
}

.drawerCard__price__wrapper {
    list-style: none;
}

.drawerCard__item__count {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 40px;

    background-color: #d8d5d5;
}

.buttonInCart {
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.drawerCard__price__wrapper {
    padding-left: 30px;
}

.drawerCard__img {
    width: 100%;
    height: 215px;
    object-fit: cover;
    object-position: 0 0;
}

.drawerCard__a {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 45%;
}

.drawerCard__a:first-child {
    border-bottom: 1px solid rgba(83, 83, 83, 0.568)
}

.drawerCard__a>li>a {
    text-decoration: none;
    cursor: pointer;
    padding: 5px;
    color: black;
    transition: all 0.5s;
}

.drawerCard__a {
    padding-left: 16px;
}

.drawerCard__a>li>a:hover {
    color: rgba(83, 83, 83, 0.568);
}

.drawerCard__line, .drawerCard__li {
    list-style: none;

    font-size: 16px;
    font-weight: bold;
    text-transform: initial;

    color: black;
}

.drawerCard__line {
    border-bottom: 3px solid black;
    width: 100%;
}

.drawerCard__price {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    border-bottom: 3px solid black;
    margin-bottom: 5%;
}

.drawerCard__dashed-line {
    border-bottom: 3px dashed black;
    width: 65%;
}

.drawerCard__props-price {
    width: 35%;
    text-align: center;
}

.drawerCard__li>a>span {
    text-transform: uppercase;
}

.drawerCard__amount__wrapper {
    list-style: none;
}

.button__form:hover,.button__buy:hover,.button__item:hover {
    border: 3px solid black;
}

.drawerCard {
    animation-name: shopCards;
    animation-iteration-count: 1;
    animation-duration: 1s;
}

.drawerCard :nth-child(2){
    animation-name: itemsOfCards;
    animation-iteration-count: 1;
    animation-duration: 1.5s;
}

.drawerCard :nth-child(1) {
    animation-name: firstCards;
    animation-iteration-count: 1;
    animation-duration: 1s;
}

@keyframes itemsOfCards {
    0% { 
        transform: translateX(-200%);
        opacity: 0;
    }

    80% { 
        opacity: 0.5;
    }
    
    100% { 
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes shopCards {
    0% { 
        transform: translateX(-200%);
        opacity: 0;
    }

    80% { 
        opacity: 0.5;
    }
    
    100% { 
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes firstCards {
    0% { 
        transform: translateX(0);
    }

    100% { 
        transform: translateX(0);
    }
}

